.list-todo-container {
    .btn {
        font-size: 18px;
        padding: 4px 10px;
        border: none;
        border-radius: 0.25rem;
        margin: 0 4px;
        cursor: pointer;
    }

    .add-todo {
        .input-add {
            font-size: 18px;
            padding: 2px 12px;
            width: 300px;
        }

        .btn-add {
            background: #3653F9;
            color: white;
            margin-left: 4px;
            font-size: 18px;
            padding: 4px 10px;
            border: none;
            border-radius: 0.25rem;
            cursor: pointer;
        }
    }

    .list-todo-content {
        width: 500px;
        margin: 0 auto;
        text-align: left;
        margin-top: 36px;

        .todo-child {
            margin: 12px 0;
            font-size: 18px;
            border-bottom: 1px solid #ccc;
            padding: 4px 0;
            height: 30px;

            .child-content {
                display: inline-block;
                margin-left: 4px;

                input {
                    font-size: 18px;
                    width: 270px;
                    padding: 2px 8px;
                }
            }

            .btn-container {
                display: inline-block;
                float: right;
                margin-bottom: 16px;



                .btn-edit {
                    background-color: #E0A800;
                    border: none;
                }

                .btn-delete {
                    background-color: #C82333;
                    color: #fff;
                }

                .btn-save {
                    // background-color: #1a67a5;
                    background-color: #138496;
                    color: #fff;
                }

            }

        }
    }
}